<div class="product-form-container">
  <h2>Editar Produto</h2>

  <form [formGroup]="productForm" class="product-form" (ngSubmit)="onSave()">
    <!-- Nome -->
    <div class="form-group">
      <label for="productName">Nome:</label>
      <input id="productName" formControlName="productName" type="text" />
    </div>

    <!-- Tipo -->
    <div class="form-group">
      <label for="productType">Tipo:</label>
      <input id="productType" formControlName="productType" type="text" />
    </div>

    <!-- Quantidade -->
    <div class="form-group">
      <label for="quantity">Quantidade:</label>
      <input id="quantity" type="number" formControlName="quantity" />
    </div>

    <!-- Número do Lote -->
    <div class="form-group">
      <label for="batchNumber">Número do Lote:</label>
      <input id="batchNumber" formControlName="batchNumber" type="text" />
    </div>

    <!-- Descrição -->
    <div class="form-group">
      <label for="description">Descrição:</label>
      <textarea id="description" formControlName="description"></textarea>
    </div>

    <!-- Data de Validade -->
    <div class="form-group">
      <label for="expirationDate">Data de Validade:</label>
      <input id="expirationDate" type="date" formControlName="expirationDate" />
    </div>

    <!-- Preço por Lote -->
    <div class="form-group">
      <label for="batchPrice">Preço por Lote:</label>
      <input id="batchPrice" type="number" formControlName="batchPrice" />
    </div>

    <!-- Porcentagem de Ganho -->
    <div class="form-group">
      <label for="profitMargin">Porcentagem de Ganho:</label>
      <input id="profitMargin" type="number" formControlName="profitMargin" />
    </div>

    <!-- Promoção -->
    <div class="form-group">
      <label for="promotionId">Promoção:</label>
      <select id="promotionId" formControlName="promotionId">
        <option [ngValue]="null">Nenhuma</option>
        <option *ngFor="let promo of promotions" [value]="promo.id"> <!-- Alterado para promo.id -->
          {{ promo.description }} <!-- Alterado para description -->
        </option>
      </select>
    </div>

    <!-- Status -->
    <div class="form-group">
      <label for="status">Status:</label>
      <select id="status" formControlName="status">
        <option value="ACTIVE">Ativo</option>
        <option value="INACTIVE">Inativo</option>
        <option value="DISCONTINUED">Descontinuado</option>
      </select>
    </div>

    <!-- Botões -->
    <div class="form-buttons">
      <button type="button" (click)="onCancel()">Cancelar</button>
      <button type="submit" [disabled]="productForm.invalid">Salvar</button>
    </div>
  </form>
</div>
