<div class="product-form-container">
  <h2>Cadastro de Produto</h2>
  <button class="close-button" (click)="onCancel()">X</button>
  <form [formGroup]="productForm" class="product-form" (ngSubmit)="onSubmit()">
    <!-- Nome -->
    <div class="form-group">
      <label for="productName">Nome:</label>
      <input id="productName" formControlName="productName" type="text" />
      <div class="error-message" *ngIf="getErrorMessage('productName')">
        {{ getErrorMessage('productName') }}
      </div>
    </div>

    <!-- Quantidade -->
    <div class="form-group">
      <label for="quantity">Quantidade:</label>
      <input id="quantity" formControlName="quantity" type="number" />
      <div class="error-message" *ngIf="getErrorMessage('quantity')">
        {{ getErrorMessage('quantity') }}
      </div>
    </div>

    <!-- Número do Lote -->
    <div class="form-group">
      <label for="batchNumber">Número do Lote:</label>
      <input id="batchNumber" formControlName="batchNumber" type="text" />
      <div class="error-message" *ngIf="getErrorMessage('batchNumber')">
        {{ getErrorMessage('batchNumber') }}
      </div>
    </div>

    <!-- Tipo -->
    <div class="form-group">
      <label for="productType">Tipo:</label>
      <input id="productType" formControlName="productType" type="text" />
      <div class="error-message" *ngIf="getErrorMessage('productType')">
        {{ getErrorMessage('productType') }}
      </div>
    </div>

    <!-- Data de Validade -->
    <div class="form-group">
      <label for="expirationDate">Data de Validade:</label>
      <input id="expirationDate" formControlName="expirationDate" type="date" />
      <div class="error-message" *ngIf="getErrorMessage('expirationDate')">
        {{ getErrorMessage('expirationDate') }}
      </div>
    </div>

    <!-- Preço por Lote -->
    <div class="form-group">
      <label for="batchPrice">Preço por Lote:</label>
      <input id="batchPrice" formControlName="batchPrice" type="number" step="0.01" />
      <div class="error-message" *ngIf="getErrorMessage('batchPrice')">
        {{ getErrorMessage('batchPrice') }}
      </div>
    </div>

    <!-- Margem de Lucro -->
    <div class="form-group">
      <label for="profitMargin">Margem de Lucro (%):</label>
      <input id="profitMargin" formControlName="profitMargin" type="number" step="0.01" />
      <div class="error-message" *ngIf="getErrorMessage('profitMargin')">
        {{ getErrorMessage('profitMargin') }}
      </div>
    </div>

    <!-- Descrição -->
    <div class="form-group">
      <label for="description">Descrição:</label>
      <textarea id="description" formControlName="description"></textarea>
      <div class="error-message" *ngIf="getErrorMessage('description')">
        {{ getErrorMessage('description') }}
      </div>
    </div>

    <div class="form-group">
      <label for="status">Status do Produto:</label>
      <select id="status" formControlName="status">
        <option value="ACTIVE">Ativo</option>
        <option value="INACTIVE">Inativo</option>
        <option value="DISCONTINUED">Descontinuado</option>
      </select>
      <div class="error-message" *ngIf="getErrorMessage('status')">
        {{ getErrorMessage('status') }}
      </div>
    </div>

    <!-- Campos de Visualização (Somente Leitura) -->
    <div class="readonly-group">
      <label>Preço Unitário:</label>
      <input [value]="unitPrice | number:'1.2-2'" readonly />
    </div>
    <div class="readonly-group">
      <label>Preço Total com Ganho:</label>
      <input [value]="finalPriceWithMargin | number:'1.2-2'" readonly />
    </div>
    <div class="readonly-group">
      <label>Preço Unitário com Ganho:</label>
      <input [value]="unitPriceWithMargin | number:'1.2-2'" readonly />
    </div>

    <!-- Mensagem de Erro Global -->
    <div class="error-message" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <!-- Botões -->
    <div class="form-buttons">
      <button type="button" class="btn-cancel" (click)="onCancel()">Cancelar</button>
      <button type="submit" [disabled]="productForm.invalid">Cadastrar Produto</button>
    </div>



  </form>
</div>
