/* Barra de Ferramentas */
.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Alinhamento espaçado para empurrar o nome para a direita */
  padding: 10px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  gap: 10px;

  .toolbar-item {
    display: flex;
    align-items: center;

    .toolbar-button {
      background: transparent;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      color: #333;
      transition: color 0.2s, transform 0.2s;

      &:hover {
        color: #007bff;
        transform: scale(1.1); /* Aumenta ligeiramente o botão ao passar o mouse */
      }

      &:active {
        transform: scale(0.95); /* Feedback visual de clique */
      }

      &:focus {
        outline: none;
      }
    }
  }

  .user-info {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre o nome do usuário e o botão de logout */
    margin-left: auto; /* Empurra o nome do usuário para o canto direito */
    font-size: 1rem;
    color: #333;
  }
}
