<div class="toolbar">
  <div class="toolbar-item">
    <button class="toolbar-button" (click)="toggleSearch()">🔍</button>
  </div>
  <div class="toolbar-item">
    <button class="toolbar-button" (click)="openAddDialog()">➕</button>
  </div>
  <div class="toolbar-item">
    <button class="toolbar-button" routerLink="/validation">🔺</button>
  </div>
  <div class="toolbar-item">
    <button class="toolbar-button" routerLink="/promotion">📦</button>
  </div>
  <div class="toolbar-item">
    <button class="toolbar-button" routerLink="/report">📉</button>
  </div>
  <div class="user-info">
    Bem-vindo, {{ userName }}
    <button class="toolbar-button" (click)="logout()">Logout</button>
  </div>
</div>
